*{margin:0;padding:0;list-style: none;border:0;}
body{background: url('../img/bg.jpg');}

#congrat{
	width: 100px;
	height: 100px;
}
#canvas{margin:0 auto;display: block;}
.btn a{
width:100px;height:35px;
line-height: 35px;background: #abcdef;
color: #fff;text-align: center;
display: inline-block;text-decoration: none;
border-radius: 10px;
}
.btn{width: 215px;margin:20px auto;}